.auth {
  height: 200px;

  form {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
  }

  .phone-wrapper {
    display: flex;
    padding-left: 30px;
    margin: 0 auto;
    align-self: flex-end;
  }

  .sign {
    user-select: none;
  }

  .phone, .sign, .sms, .hint {
    font-size: 200%;
  }

  .phone, .sms, .hint {
    border: 0;
    background: none;
    outline: 0 !important;
  }

  .sms-input {
    position: relative;
    margin-top: 50px;
    .sms, .hint {
      font-family: 'Roboto Mono', monospace;
      letter-spacing: 9px;
    }
    .hint {
      position: absolute;
      bottom: 0px;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .sms-wrapper {
    text-align: center;
  }
}
