.disclaimer {
  .warning {
    text-align: center;
    font-weight: bold;
  }
  .text {
    padding: 0 20px;
  }
  .buttons {
    display: flex;

    .demo {
      background-color: #73a4ff;
      flex-shrink: 3;

      &:hover {
        background-color: #518bf7;
      }
    }
  }
}
