.home {
  position: relative;
  height: 100%;

  .auth-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 20px 0 0;
    border-radius: 30px;
    width: 500px;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  .header {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 80%;

    .github a {
      color: #fff;
      text-decoration: none;
      margin-right: 20px;

      &:hover {
        text-decoration: underline;
      }
    }

    .demo-exit {
      border: 0;
      outline: 0;
      padding: 5px 15px;
      border-radius: 30px;
      background-color: #fa5255;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #cc4345;
      }
    }
  }
}
