@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

html, body, :global(#app) {
  height: 100%;
  margin: 0;
  padding: 0;
}

:global(#app) {
  /* To get rid of a scroll bar. */
  box-sizing: border-box;
  padding: 20px;
}

:global(.rc-tooltip-inner) {
  padding: 3px 6px;
  min-height: auto;
  width: 190px;
  text-align: justify;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

:global(.form-button) {
  border: 0;
  outline: 0;
  line-height: 240%;
  font-size: 120%;
  background-color: #fa5255;
  color: #fff;
  width: 100%;
  align-self: flex-end;
  cursor: pointer;

  &:disabled {
    background-color: #ccc;
  }

  &:enabled:hover {
    background-color: #cc4345;
  }
}
