.pin-view {
  text-align: center;
  height: 200px;
}

.pin {
  font-size: 200%;
  color: #fa5255;
  border: 0;
  background: none;
  outline: 0 !important;
  letter-spacing: 23px;
  margin-top: 50px;
  width: 180px;
  margin-left: 65px;

  &:disabled {
    color: #d5cbcb;
  }
}
